.jumbotron {
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 8%;
}

#title {
  font-weight: 700;
  font-size: 50px;
}

#text {
  padding-top: 1px;
}

h4 {
  font-style: italic;
}

#well {
  padding-left: 5%;
  padding-right: 5%;
}
.footer {
  padding: 2%;
}
